div {
    background-color: rgb(206, 205, 205);    
}


h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(92, 114, 243);
  }

  button{
    color: rgb(4, 209, 66);
    margin: 0 auto;
  }